.fa-container {
  position: fixed;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-right {
  bottom: 24px;
  right: 24px;
}

.bottom-left {
  bottom: 24px;
  left: 24px;
}

.fa-main {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: #111;
  color: white;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}


